* {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*This sets the font size and the background image*/
html, body{
    font: 14px Georgia, serif;
    background:url(../images/comp5.jpg) ;
    background-size: cover;
    height: 100%;
    
}
/*This sets the properties for the navigation bar, for example, list-style set to none to remove the bullet points*/
.nav ul {
    list-style: none;
    text-align: end;
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}
/*This controls the positioning of the navigation bar*/
.nav li{
    display:inline-block;
    position: relative;
    top: 30px;
}
.nav a{
    transition: .4s;
    text-decoration: none;
    color: white;
    display: inline;
    padding: 15px;
    text-transform: uppercase;
}
@media screen and (max-width: 375px){
    .nav a{
        padding: 7px;
    }
}
/*This is the hover effect on the navigation bar*/
.nav a:hover{
    background-color: #fff;
    color: black;
}
/* This is again for the nav bar when the page is active, to help the user to know which page they are on*/
ul li.active a{
    background: #fff;
    color: black;

}


/*These are the properties for the header*/
h1{
    margin: 1cm;
    text-align: center;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    font-weight: bold;
}



/*https://www.youtube.com/watch?v=Sm72hlTVOOg, https://www.youtube.com/watch?v=-_ENJ2tRNso*/ 
/*This states the positioning and size of the div element #ih*/
#ih {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "fade";
    width:240px;height:160px;
    border-radius: 50%;
    position: relative;
    margin: 10px auto;

}
/*These are the properties for the two images that are positioned on top of each other*/
.top{
    height:160px;
    width: 240px;
    border-radius: 50%;
    grid-area: fade;
    align-self: center;
    justify-self: center;
}
.bottom{
    height:160px;
    width: 240px;
    border-radius: 50%;
    grid-area: fade;
    align-self: center;
    justify-self: center;
}

/*Chnages and fades out image on hover*/
#ih img.top:hover{
    opacity:0;
    transition:opacity 3s ease-in-out;

}



:root {
    font-size: 75.5%;
    font-family: 'Indie Flower', cursive;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    
}
.container{
    width: 96rem;
    margin: 2rem auto;
}


.gallery-item {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: all.3s;
    overflow: hidden;
    position: relative;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(150px, auto);
}


.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}
.middle { 
    text-align: center; 
} 

.gallery-item:hover .middle {
    opacity: 1;
}
.gallery-item:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,1)
}
.text {
    color: white;
    font-size: 1cm;
    padding: 16px 32px;
    font-family: 'Indie Flower', cursive;
}

/*https://www.youtube.com/watch?v=vsBaCblIOuQ&t=225s*/
/*this ID covers the entire height of the browser*/
#foot {
    min-height: 100%;
}
/* the overflow has been set to auto for much more content inside the page*/
/*padding bottom is the height of the footer*/ 
/*the height will differ for each page*/
#mains1{
    overflow: auto;
    padding-bottom: 100px;
    height: 560px;
    
}
#mains2{
    overflow: auto;
    padding-bottom: 100px;
    height: 1008px;
    
}
#mains3{
    overflow: auto;
    padding-bottom: 100px;
    height: 940px;
    
}
#mains4{
    overflow: auto;
    padding-bottom: 100px;
    height: 600px;
    
}
/*this sets the properties of the footer*/
#footers{
    position: relative;
    height: 235px;
    margin-top: -100px;
    clear: both;
    background-color: #00121b;
}
/*This is the media query for the footer*/
@media screen and (max-width: 375px){
 #footers{
     height: 410px;
 }   
}

.inner-footer{
    width:95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
/*Items in the footer*/
.footer-items {
    width:25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
@media screen and (max-width:375px){
    .footer-items{
        width: auto;
        margin-right: 85px;
    }
}
.footer-items1 {
    width:25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
@media screen and (max-width:375px){
    .footer-items1{
        width: auto;
        margin-right: 185px;
    }
}
/*This styles the headers that are inside the footer "Contacts & Quick Links"*/
h4{
    margin: 10px 0;
    color: grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
/*This sets a border between the headers and the contents in the footer*/
.border {
    height: 2px;
    width: 40px;
    background: #ff9800;
}
/*This sets all the ul elements*/
ul {
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

ul a:hover {
    color: #ff9800
}
ul li {
    margin-right: 20px;
}
.cv-contact{
    color: black;
    letter-spacing: 0.5px;
    font-size: 25px;
    margin-left: 56px;
    margin-top: -40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.social-media{
    width: 100%;
    color: #fff;
    text-align: center;
}
.social-media a{
    text-decoration: none;
}
.social-media i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    transition: 0.3s;

}
.social-media i:hover {
    background: grey;
}
/*This is the title in the CV page*/
h3 {
    margin: 1.5cm;
    font-size: 50px;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}
/*This creates an area where the header is going to be placed*/
header {
    width: 100%;
    height:220px;
    float:left;
    
}
/*This specifies that all the contents within the header will be in the center*/
.centre {
    text-align: center;
}

/*Properties for the left column will be the same for the right*/
.leftColumn{
    width: 50%;
    height: 700px;
    float:left;
    background-color:white;
}
.rightColumn{
    width: 50%;
    height:700px;
    float: right;
    background-color:white;
    
}
/*Properties for the heading class in the CV page*/
.heading{
    font-size: 28px;
    padding-bottom: 10px;
    margin-top: 30px;
    color: #383839;
    font-family: 'Times New Roman', Times, serif;
}
/*Subtitle class*/
.subtitle{
    position: relative;
    bottom: 50px;
    color: #383839;
    margin: 0px;
    margin-left: 56px;
    font-size: 22px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}
.uni{
    position: relative;
    bottom: 50px;
    font-size: 22px;
    color: #383839;
    font-family: Arial, Helvetica, sans-serif;
}
.date{
    position: relative;
    bottom: 90px;
    color: #383839;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-top: -40px;
    margin-left: 56px;
}
.bach{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-top: -130px;
    margin-left: 56px;
}
.frm{
    text-align: center;
}
h2{
    color:whitesmoke;
    margin-bottom:10px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 34px;
}
.contact-form{
    text-align: center;
}
.control{
    width: 600px;
    background:transparent;
    border:none;
    outline: none;
    border-bottom: 1px solid gray;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
form .submit{
    margin-right: 13px;
    color: white;
    background: grey;
    border-color: transparent;
    letter-spacing: 2px;
}
form .submit:hover{
    background: green;
}

@media only screen and (max-width: 710px){
    .nav ul a{
        margin-top: 10px;
        display: block;
    }
    
}



